* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: rgb(10, 10, 10);
  color: rgb(98, 173, 238);
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

